*{
  padding:0;
  margin:0;
  font-family: 'Roboto', sans-serif;
}

html, body {
  height: 100%;
  background-color: #701112;
}

#map {
  width: 100%;
  height: 80%;
  margin: 0 auto;
}
/**/
#inputBox{
  position: absolute;
  width: 300px;
  top: 15%;
  left: 15%;
  z-index: 5;
  background-color: #701112;
  padding: 20px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 0px;
  border-radius: 5px;
  padding-top: 20px;
  padding-bottom: 20px;

}

#inputBox input[type='text'] {
  float: left;
    padding: 10px;
    font-size: 15px;
}

#pin{
  text-align: left;
  padding: 10px 40px;
  font-weight: bold;
  font-size: 15px;
}

#button{
  width: 50%;
  margin: 20px auto;
  text-align: center;
}

#next {
  margin: 0 auto;
  border-radius: 5px;
  padding: 20px;
  border: none;
  width: 200px;
  font-size: 20px;
  color: white;
  position: absolute;
  top: 80%;
  left: 75%;
  background-color: #701112;
}

h1, h2{
  text-align: center;
  color: white;
  letter-spacing: 3px;
}

p{
  text-align: left;
  color: white;
  position: absolute;
  top: 14%;
  left: 15%;
}

.maroon{
    background-color: #701112;
    padding-top: 20px;
    padding-bottom: 20px;
}
