
*{
  margin: 0;
  padding: 0;
}

#next-btn{
  width: 200px;
  padding: 10px;
  margin: 10px;
}

#form {
  display: absolute;
  width: 60%;
  margin:0 auto;
  height: 800px;
  border: 1px solid black;
  padding-left: 20px;
  padding-top: 20px;
  background-color: #672727;
  color: #DFDADA;
  opacity: 0.8;
  -webkit-transform: translate(-120%);
  transition: transform 0.5s ease-in-out;
}

input {
  padding: 1%;
  margin: 10px 0;
}

input[type="radio"]{
  width: auto;
  margin-right: 10px;
  margin-left: 20px;
}

#form.show{
  opacity:1;
  -webkit-transform: translate(0);
  transition: transform 0.5 ease-in-out, opacity 1 ease-in-out;
}

#homeAddress{

}

#destAddress{
  margin-right: 100px;
}
.addressRow{
  flex-basis: 700px;
}
input[type="radio"] {
  text-align:
}

#address {
  display:flex;
  justify-content: space-between;
}
