<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin Login</title>
    <!-- Bootstrap core CSS -->
    <link href="../../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../styles/login.css" rel="stylesheet">
  </head>

  <body>
    <img src="../../assets/images/map.png">
    <div id="login-panel">
      <div class="login-panel-head">
          <h1>Admin Login  <span class="glyphicon glyphicon-user" aria-hidden="true"></span></h1>
      </div>
      <div id="form">
        <form class="form" action="../main.html">
          <div class="form-group">
              <label for="user" class="control-label"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> User</label>
              <input type="user" class="form-control" id="user" placeholder="User">
          </div>
          <div class="form-group">
            <label for="password" class="control-label"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Password</label>
              <input type="password" class="form-control" id="password" placeholder="Password">
          </div>
          <div class="form-group">
          </div>
          <div class="form-group">
              <button type="submit" name="btn-submit" class="btn btn-default"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span> Sign in</button>
          </div>
          <div class="alert" role="alert"><p id="invalid"></p></div>
        </div>
      </form>
    </div>
    </div>
  <script src="../scripts/dbconnection.js"></script>
  <script src="../scripts/admin-login.js"></script>
  </body>

</html>
