            body{
                position: relative;
            }
        .modal {

            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

        /* Modal Content/Box */
        .modal-content {
            background-color: #fefefe;
            padding: 20px;
            border: 1px solid #888;
            width: 40%; /* Could be more or less, depending on screen size */
            position: fixed; /* Stay in place */
            left: 30%;
            top: 10%;
        }
        
        .modal-content-big {
                background-color: #fefefe;
                padding: 20px;
                border: 1px solid #888;
                width: 80%; /* Could be more or less, depending on screen size */
                height: 80%;
                position: fixed; /* Stay in place */
                left: 10%;
                top: 10%;
                border-radius: 5px;
                box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
        }

        /* The Close Button */
        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
            .btn-danger{
                float: right
            }
        .submit{
            float: right;
             margin: 10px;
        }
.back{
    float: right;
    margin: 10px;
}
.next{
    float: right;
    margin: 10px;
}
#close-button{
    float: right;
    margin: 10px;
}
#logos img{
    width: 200px;
    height: 100px;
    position: absolute;
    top: 82%;
    left: 5%;
    z-index: 15;

}
#destination{
    width: 50%;
}
#email{
    width: 50%;
}
#myBtn{
    font-size: 250%;
    width: 100px;
    height: 60px;
        
}


